.header__content__logo
{
    text-decoration: none;
}

.header__content__logo:hover
{
    color: #c51d1d;
    text-decoration: none;
}

#profile, #cart, #myOrders, #dashboard
{
    color: white;
}

#profile:hover, #cart:hover, #myOrders:hover, #dashboard:hover
{
    color: #c51d1d;
}

#regis
{
    background-color: none;
    color: white;
}