.photo{
    justify-content: center;
}

.photo .col-12{
    width: '100%';
    padding: '30px';
   
}

#Bviewdeets
{
    color: white;
    background-color: black;
}

#Bviewdeets:hover
{
    color: white;
    background-color: #c51d1d;
}

#viewdeets
{
    color: white;
}
