.gradient-custom-2
{
    justify-content: center !important;
    margin-bottom: 50px !important;
}
#profbutton
{
 background-color: black !important;
 border: none !important;
 margin: 10px !important;
 width: 200px;
}

#profbutton:hover
{
 background-color: #c51d1d !important;
 
}

#proflink
{
    color: white !important;
    text-decoration: none !important;
    
}

#proflink:hover
{
    color: white !important;
    text-decoration: none !important;
}

